<html>
<head>   
    <title>TFL Store - Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="modules/auth.module.js"></script>
    <script src="modules/app.js"></script>
    <script src="controllers/login.controller.js"></script>

</head>
<body >
    <div ng-app="authModule" ng-controller="LoginController">
        <h1>Lakhan Product Store</h1>
        <form ng-submit="onValidate($event)">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" ng-model="user.email" required>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" ng-model="user.password" required>
            <br><br>
            <button type="submit">Login</button>
        </form>
        <!-- <p ng-if="errorMessage" style="color: red;">{{ errorMessage }}</p> -->
    </div>
</body>
</html>
