<nav class="navbar navbar-expand-lg navbar-dark bg-dark" ng-controller="ProductController as vm">
    <a class="navbar-brand text-white font-weight-bold" href="#">My E-Commerce App</a>   
   
    <form class="form-inline mx-auto" ng-submit="vm.setSearchQuery()">
        <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Search products..." aria-label="Search"
            ng-model="vm.searchQuery">
        <button class="btn btn-warning my-2 my-sm-0 rounded-pill" type="submit">
            <i class="fa fa-search"></i> Search
        </button>
    </form>

    <div class="d-flex ml-auto">
        <!-- User and Cart Actions (Visible when logged in) -->
        <div class="d-flex align-items-center" ng-if="vm.loggedInUser">
            <!-- Cart Button -->
            <a href="#!/cart" class="btn btn-light mx-2 rounded-pill">
                <i class="fa fa-shopping-cart"></i> Cart ({{ vm.cart.length }})
            </a>        
            <!-- User Profile -->
            <div class="d-flex align-items-center text-white mx-2">
                <i class="fa fa-user-circle fa-lg mr-2"></i>
                <span>{{ vm.loggedInUser.name }}</span>
            </div>        
            <!-- Logout Button -->
            <button class="btn btn-danger mx-2 rounded-pill" ng-click="vm.logout()">Logout</button>
        </div>        
        <!-- Guest Actions (Visible when not logged in) -->
        <div class="ml-auto" ng-if="!vm.loggedInUser">
            <a href="#!/login" class="btn btn-light mx-2 rounded-pill">Login</a>
            <a href="#!/register" class="btn btn-light mx-2 rounded-pill">Register</a>
        </div>
    </div>
</nav>
